@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
.context {
  min-height: 12em;
}

.unanswered {
  border: 1px solid #ff0000;
}


.hello, .link {
  color: #1eb8ff;
}

.box {
  transition: all 0.2s ease-in-out;
}
.box:hover {
  transform: scale(1.05);
}